#map-grid {
    height: calc(100vh - 80px);

    #map-gallery-list {
        padding-left: 60px;
        padding-right: 10px;
    }

    .map {
        width: 100%;
        height: calc(100vh - 80px);
    }
}