<div uk-grid uk-height-viewport="expand: false; offset-top: true" class="image-container">
  <div class="uk-width-expand uk-flex uk-flex-center uk-flex-middle uk-text-center">
    <img class="image-fullscreen" [src]="name | safe">
  </div>

  <div id="sidebar" class="uk-width-1-3@m uk-margin-small-left">
    <div *ngIf="!exifEditMode; else exifEdit">
      <label for="latitude" class="uk-label bg-primary">Latitude</label>
      <p id="latitude">{{itemExifInfo | latitude}}</p>
      <label for="longitude" class="uk-label bg-primary">Longitude</label>
      <p id="longitude">{{itemExifInfo | longitude}}</p>
      <button class="uk-button uk-button-default themable"
              (click)="editButtonClicked()">
        <span class="primary" uk-icon="icon: file-edit"></span> Edit
      </button>
      <button class="uk-button uk-button-default themable"
              (click)="onBackButtonClick()">
        <span class="primary" uk-icon="icon: arrow-left"></span> Back
      </button>
    </div>
    <ng-template #exifEdit>
      <form [formGroup]="exifForm" (ngSubmit)="onSubmit()">
        <div>
          <label for="latitudeValue" class="uk-label">Latitude</label>
          <br>
          <input type="number" id="latitudeValue" formControlName="latitudeValue" class="uk-input themable">
          <br>
          <select formControlName="latitudeDirection" class="uk-select themable">
            <option value="E">East</option>
            <option value="W">West</option>
          </select>
        </div>

        <br>

        <div>
          <label for="longitudeValue" class="uk-label">Longitude</label>
          <br>
          <input type="number" id="longitudeValue" formControlName="longitudeValue" class="uk-input themable">
          <br>
          <select formControlName="longitudeDirection" class="uk-select themable">
            <option value="N">North</option>
            <option value="S">South</option>
          </select>
        </div>

        <br>

        <div>
          <button type="submit" class="uk-button uk-button-default themable" uk-icon="icon: check; ratio: 1.5"
                  [disabled]="!exifForm.valid" [ngClass]="{'disabled': !exifForm.valid}">Save
          </button>
          <button type="button" class="uk-button uk-button-default themable" uk-icon="icon: close; ratio: 1.5"
                  (click)="onClose()">Close
          </button>
        </div>
      </form>
    </ng-template>
  </div>
</div>
