<div uk-grid>
  <div id="photo" class="uk-width-expand">
    <button class="uk-button-text" uk-icon="arrow-left" (click)="onBackButtonClick()"></button>
    <img data-src="{{name}}" uk-img>
  </div>

  <div id="sidebar" class="uk-width-auto">
    <div *ngIf="!exifEditMode; else exifEdit">
      <label for="latitude">Latitude: </label>
      <p id="latitude">{{itemExifInfo | latitude}}</p>
      <label for="longitude">Longitude: </label>
      <p id="longitude">{{itemExifInfo | longitude}}</p>
    </div>
    <ng-template #exifEdit>

    </ng-template>
  </div>
</div>
