<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
  <nav class="uk-navbar-container uk-navbar-transparent themable" uk-navbar>
    <div class="uk-navbar-left">
      <div class="uk-navbar-item">
        <button class="uk-button uk-button-default themable" type="button" uk-toggle="target: #sidebar">
          <span uk-icon="icon: menu; ratio: 2"></span>
        </button>
      </div>
    </div>
    <div id="allSaved" class="uk-navbar-left" style="display: none;">
      <div class="uk-navbar-item">
        All changes saved
      </div>
    </div>
    <div id="saving" class="uk-navbar-left" style="display: none;">
      <div class="uk-navbar-item">
        Saving...
      </div>
    </div>
    <div class="uk-navbar-right">
      <div class="uk-navbar-item">
        <div class="toggle" [ngClass]="(darkMode)?'on':'off'" (click)="toggleThemeMode()"></div>
      </div>
    </div>
  </nav>
</div>


<div id="sidebar" uk-offcanvas="mode: reveal; overlay: true; container: false">
  <div class="uk-offcanvas-bar uk-flex uk-flex-column themable">  
    <ul class="uk-nav uk-nav-primary uk-margin-auto-vertical">
      <li class="uk-nav-header uk-nav-center menu-group-header">Upload</li>
      <li>
        <a (click)="openFileDialog()">
          <span class="uk-margin-small-right primary" uk-icon="icon: copy"></span> Files
        </a>
      </li>
      <li>
        <a (click)="openDirectoryDialog()">
          <span class="uk-margin-small-right primary" uk-icon="icon: folder"></span> Directory
        </a>
      </li>
      <li>
        <a (click)="goToGallery()">
          <span class="uk-margin-small-right primary" uk-icon="icon: album"></span> Gallery
        </a>
      </li>
      <li>
        <a (click)="goToMap()">
          <span class="uk-margin-small-right primary" uk-icon="icon: image"></span> Map
        </a>
      </li>
    </ul> 
  </div>
</div>