.image-card {
    padding: 5px;
    cursor: -webkit-grab;

    &:active {
        cursor: -webkit-grabbing;
    }

    &:after {
        content: '';
        display: table;
        clear: both;
    }

    .image {
        float: left;
        height: 70px;
        width: 80px;
        display: flex;
        align-items: center;

        img.thumbnail {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        align-items: center;
        padding: 5px;
        user-select: none;
    }
}