.image-card {
    .image {
        height: 50px;
        display: flex;
        align-items: center;
        padding: 5px 5px 10px 0px;
        img.thumbnail {
            height: 100%;
            object-fit: cover;            
        }     
        .filename {
            p {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                align-items: center;
                padding: 5px;
            }
        }    
    }      
}