@import 'color';

.dark {
    background-color: $darker;
    color: $lighter;
    .themable {
        &,
        a,
        .uk-nav li,
        li>a {
            background-color: $darker;
            color: $lighter;
        }
        a,
        li>a {
            &:hover,
            &:active,
            &:focus {
                color: $light;
            }
        }
    }
}

.light {
    background-color: $lighter;
    color: $dark;
    .themable {
        &,
        a,
        .uk-nav li,
        li>a {
            background-color: $lighter;
            color: $dark;
        }
        a,
        li>a {
            &:hover,
            &:active,
            &:focus {
                color: $darker;
            }
        }
    }
}

.primary {
    color: $primary;
}

.toggle {
    border-radius: 15px;
    width: 36px;
    height: 20px;
    cursor: pointer;
    position: relative;
    transition: 0.2s linear;
    &:before {
        content: '';
        width: 14px;
        height: 14px;
        border-radius: 100%;
        position: absolute;
        top: 3px;
    }
    &.on {
        background-color: $dark;
        &::before {
            background-color: $darker;
            right: 3px;
        }
    }
    &.off {
        background-color: $light;
        &::before {
            background-color: $lighter;
            left: 3px;
        }
    }
}